<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CategoryServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="CategoryServicePortSoap111" />
        <binding name="ProductServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="ProductServicePortSoap111" />
        <binding name="ProductStockServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="ProductStockServicePortSoap111" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.n11.com/ws/categoryService/" binding="basicHttpBinding"
          bindingConfiguration="CategoryServicePortSoap11" contract="CategoryService.CategoryServicePort"
          name="CategoryServicePortSoap11" />
      <endpoint address="https://api.n11.com/ws/productService/" binding="basicHttpBinding"
          bindingConfiguration="ProductServicePortSoap11" contract="ProductService.ProductServicePort"
          name="ProductServicePortSoap11" />
      <endpoint address="https://api.n11.com/ws/productStockService/"
          binding="basicHttpBinding" bindingConfiguration="ProductStockServicePortSoap11"
          contract="ProductStockService.ProductStockServicePort" name="ProductStockServicePortSoap11" />
    </client>
  </system.serviceModel>
</configuration>