@model dynamic

@{
    ViewBag.Title = "Kategori Eşleştirme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    
</div>


@if (@User.Identity.IsAuthenticated)
{
    @section scripts {
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/todo")
    }
}


