<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link type="text/css" rel="stylesheet" href="/css/Site.css"/>

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
