<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="StorManContext" connectionString="Data Source=.\SQLExpressFT; Initial Catalog=StorMan; Integrated Security=yes" providerName="System.Data.SqlClient" />
    <add name="StorManEntities" connectionString="metadata=res://*/StorManDb.csdl|res://*/StorManDb.ssdl|res://*/StorManDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpressFT;initial catalog=StorMan;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CategoryServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="CategoryServicePortSoap111" />
        <binding name="ProductServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="ProductServicePortSoap111" />
        <binding name="ProductStockServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="ProductStockServicePortSoap111" />
        <binding name="ShipmentCompanyServicePortSoap11">
          <security mode="Transport" />
        </binding>
        <binding name="ShipmentCompanyServicePortSoap111" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.n11.com/ws/categoryService/" binding="basicHttpBinding"
          bindingConfiguration="CategoryServicePortSoap11" contract="CategoryService.CategoryServicePort"
          name="CategoryServicePortSoap11" />
      <endpoint address="https://api.n11.com/ws/productService/" binding="basicHttpBinding"
          bindingConfiguration="ProductServicePortSoap11" contract="ProductService.ProductServicePort"
          name="ProductServicePortSoap11" />
      <endpoint address="https://api.n11.com/ws/productStockService/"
          binding="basicHttpBinding" bindingConfiguration="ProductStockServicePortSoap11"
          contract="ProductStockService.ProductStockServicePort" name="ProductStockServicePortSoap11" />
      <endpoint address="https://api.n11.com/ws/shipmentCompanyService/"
          binding="basicHttpBinding" bindingConfiguration="ShipmentCompanyServicePortSoap11"
          contract="ShipmentCompanyService.ShipmentCompanyServicePort"
          name="ShipmentCompanyServicePortSoap11" />
    </client>
  </system.serviceModel>
  
  
</configuration>