<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StorManContext" connectionString="Data Source=.\SQLExpressFT; Initial Catalog=StorMan; Integrated Security=yes" providerName="System.Data.SqlClient" />
    <add name="StorManEntities" connectionString="metadata=res://*/StorManDb.csdl|res://*/StorManDb.ssdl|res://*/StorManDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpressFT;initial catalog=StorMan;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>